<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口使用文档</title>
    <link rel="stylesheet" href="/static/doc/doc.css" type="text/css" />
    <link rel="stylesheet" href="/static/doc/screen.css" type="text/css" />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='http://0.0.0.0:8000/static/doc/doc.js'></script>
    <script src='http://0.0.0.0:8000/static/doc/screen.js'></script>
</head>



<body background="/static/doc/back_star.jpg">

    <div id="name_tap"><text id="name_tap_text"></text></div>


    <div id="kaifa"></div>


    <div id="manager"></div>


    <div id="user"></div>


    <div id="screen"><div id="screen_exit" onclick="screen_exit(this)"></div></div>

</div>








</body>
</html>



权限：权限编码及help
权限工具：转移工具/

允许使用 允许转移
权限允许 接口禁止 允许转移



权限卡：
permission_id 允许使用 允许转移 help










