<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开发主页</title>
</head>
<body>
    {{ info_1 }}&nbsp<a href="/users/Login/">{{ info_2 }}</a> <br><br>
    <a href="/users/">用户相关接口</a><br><br>
    <a href="/manager">总管理员相关接口</a><br><br>
    <a href="/schoolmanager">学校管理员相关接口</a><br><br>
    <a href="/teacher">老师相关接口</a><br><br>
    <a href="/student">学生相关接口</a><br><br>
    <a href="/error">错误记录相关接口</a><br><br>
    <a href="/vue">vue练习相关接口</a><br><br>
    <a href="/makeonline">在线编译相关接口</a><br><br>

-------------------------------------------------------------------<br><br>
账户：<br>
-------------------------------------------<br>
    总管理员账户&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  1-------1&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/users/changeuser/?mobile=1">切换到这个账户</a><br>
-------------------------------------------<br>
学校管理员账户&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2-------2&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/users/changeuser/?mobile=2">切换到这个账户</a>
    <br>
-------------------------------------------<br>
老师账户&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 666-----123456
    <a href="/users/changeuser/?mobile=666">切换到这个账户</a>
    <br>
-------------------------------------------<br>
学生账户(唐僧)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 10------123456
    <a href="/users/changeuser/?mobile=10">切换到这个账户</a>
    <br>
-------------------------------------------<br>
学生账户(悟空)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 11------123456
    <a href="/users/changeuser/?mobile=11">切换到这个账户</a>
    <br>
-------------------------------------------<br>
学生账户(八戒)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 12------123456
    <a href="/users/changeuser/?mobile=12">切换到这个账户</a>
    <br>
-------------------------------------------<br>
学生账户(沙僧)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 13------123456
    <a href="/users/changeuser/?mobile=13">切换到这个账户</a>
    <br>
-------------------------------------------<br>
学生账户(队长)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 14------123456
    <a href="/users/changeuser/?mobile=14">切换到这个账户</a>
    <br>
-------------------------------------------<br>

</body>
</html>
























